version: '3.8'

services:
  samba:
    build: .
    container_name: samba-ldap
    restart: unless-stopped
    ports:
      - "139:139"
      - "445:445"
      - "9301:9301"
    volumes:
      - ./samba/share:/mnt/share
      - ./samba/logs:/var/log/samba
    environment:
      # Параметры LDAP
      - LDAP_URI=ldap://ldap.example.com
      - LDAP_BASE_DN=dc=example,dc=com
      - LDAP_BIND_DN=cn=readonly,dc=example,dc=com
      - LDAP_BIND_PASSWORD=secret
      - LDAP_USERS_DN=ou=people,dc=example,dc=com
      - LDAP_GROUPS_DN=ou=groups,dc=example,dc=com

      # Системные параметры
      - USERID=1000
      - GROUPID=1000
      - TZ=Europe/Moscow
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
